@model EPM.Mouser.Interview.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Product";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservedQuantity)
        </dd>
    </dl>
</div>

